.MainContainer{
    font-family: Arial, Helvetica, sans-serif;
}
.Bio,.Contact{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.Header{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content:flex-start;
    text-align: left;
    top:2em;
    padding: 4em;
}

a{
    position: relative;
    top: -55em;
    left: 35em;
}